{:paths ["src" "test" "resources"]

 :bbin/bin {doteur {:main-opts ["-m" "doteur.main"]}}

 :deps {io.aviso/pretty {:mvn/version "1.4.3"}}

 :tasks
 {doteur {:doc "Run in place"
          :task doteur.main/-main}

  lint (shell "clj-kondo --lint .")

  package {:doc "Package a single uberjar"
           :task (shell "bb uberjar doteur.jar -m doteur.main")}

  test {:doc "Run all tests"
        :task (shell "clojure -X:test")}}}
